@charset "UTF-8";


body{
	background: #f2f2f2;
}
.clearHeight{
	width: 100%;
	height: auto;
	clear: both;
	overflow: hidden;
}

.article_border{
	width: 90%;
	position: relative;
	padding: 3% 5%;
	background: #ffffff;
	border-top: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3;
	overflow: hidden;
}

.article_border_text3{
	margin-top: 5px;
	float: left;
	font-family:Arial,"Microsoft YaHei";	
	font-size: 2.5rem;
	color: #5c5c5c;
}

.article_border_star{
	margin-top: 10px;
	float: left;
	margin-left: 28px;
}
.article_border_star label.star{
	width: 30px;
	height: 25px;
	float: left;
	margin-left: 25px;
	background:url(../img/star.jpg) right top no-repeat;
	background-size: cover;
}
.article_border_star label.starClick{
	width: 30px;
	height: 25px;
	float: left;
	margin-left: 25px;
	background:url(../img/star.jpg) left top no-repeat;
	background-size: cover;
}

.article_border_textarea{
	width: 522px;
	height: 290px;
	padding: 20px;
	font-size: 2rem;
	font-family:Arial,"Microsoft YaHei";
	color: #5c5c5c;
	margin-top: 20px;
	border-radius:10px; 
	overflow: hidden;
}
.btnRed{
	width: 190px;
	height: 55px;
	font-family:Arial,"Microsoft YaHei";
	font-size: 2.6rem;
	border-radius: 5px;
	background: #ec3341;
	color: #fff;
	text-align: center;
	border: 1px solid #b5b5b7;
	line-height: 55px;
	display: block;
	margin: 25px auto 8px auto;
}
.btnRed:hover{color: #fff;}
.btnBorder{
	
}



