.m-modal{ width:460px; height:260px; margin:auto; background:#fff; position:fixed; z-index:999;left:0; top:-80px; right:0; bottom:0; border-radius:10px}
.error-pop {font-size: 28px;height: 180px;}
.error-pop h3 {color: #f30;padding-top: 70px;text-align: center;}