@charset "UTF-8";

/*--from 3.2.css start--*/
/*list content   right*/
.m_show_wp {
    float: left;
    width: 68.5%;
    -webkit-transition: all 2s;
    transition: all 2s;
}

.m_show_wp.out {
    transform: translate(100%, 0);
}

.m_show_wp.list-in {
    transform: translate(0, 0);
}

.pic_list {
    text-align: center;
}

.pic_list a {
    border-radius: 8px;
    border: 1px solid #b3b1b2;
    display: inline-block;
    width: 90%;
    margin-bottom: 15px;
}

.pic_list a img {
    display: block;
    width: 100%;
}
/*--from 3.3.css end--*/

/*--from 3.3.css start--*/
.m-goodslst{ float:right; width:68%}
.m-goodslst .m-cue{ border-bottom:1px #b2b2b2 solid; padding-bottom:10px;}
.m-goodslst .m-cue p{ color:#eb3341; font-size:2rem}


/*分类列表*/
.m-goodslst dl.m-categroy-lst{ margin-top:10px;}
.m-goodslst dl.m-categroy-lst dt{ height:41px; line-height:41px; background:#eb3341; font-size:2.4rem; color:#fff; padding:0 10px}
.m-goodslst dl.m-categroy-lst dt i{color:#fff!important}
.m-goodslst dl.m-categroy-lst dd{ border-bottom:1px #b2b2b2 solid
}
.m-goodslst dl.m-categroy-lst dd .m-itm{ padding:10px 0}
.m-goodslst dl.m-categroy-lst dd .m-itm h3,.m-goodslst dl.m-categroy-lst dd .m-itm h3 a{ font-size:2.2rem; color:#000000}
.m-goodslst dl.m-categroy-lst dd .m-itm p{ font-size:2rem; padding-top:28px; color:#5d5d5d}
.m-goodslst dl.m-categroy-lst dd .m-itm .u-pic{ float:right; width:74px; height:74px; border:1px #b2b2b2 solid}
.m-goodslst dl.m-categroy-lst dd .m-itm .m-control{ font-size:2.9rem; vertical-align:middle; margin-top:15px;}
.m-goodslst dl.m-categroy-lst dd .m-itm .m-control .u-icon-add,.m-goodslst dl.m-categroy-lst dd .m-itm .m-control .u-icon-reduce{ display:inline-block; width:37px; height:37px; background-image:url(../img/control_icon.gif); background-repeat:no-repeat; vertical-align:middle}

.m-goodslst dl.m-categroy-lst dd .m-itm .m-control .u-icon-add{ background-position:right center}
.m-goodslst dl.m-categroy-lst dd .m-itm .m-control .u-icon-reduce{ background-position:left center}


.m-goodslst .m-order-nd{ margin-top:10px;}
.m-goodslst .m-order-nd{ font-size:2rem; line-height:39px; vertical-align:middle; }
.m-goodslst .m-order-nd input.u-typeNum{ border-radius:5px; border:1px #eb3341 solid; height:36px; line-height:36px; color:#666; font-size:2rem; vertical-align:middle;width:40px;}

/*--from 3.3.css end--*/

/*--form 3.5.css start--*/
.shop_detail{
	width: 100%;
	height: 780px;
	border-top: 5px solid #ec3343;
	position: fixed;
	left: 0;
	bottom: 0;
	background:rgba(255,255,255,0.8);
	z-index: 1000;
    display:none;
}
.queding{
	width: auto;
	height: 25px;
	color: #5d5d5d;
	font-family:Arial,"Microsoft YaHei";
	font-size: 2.8rem;
	position: absolute;
	right: 20px;
	top: 10px;
	z-index: 5;
}
.shop_border {
	width: auto;
	position: relative;
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 2.5rem;
	padding-right: 2rem;
	background: #ffffff;
	border-top: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3;
	overflow: hidden;
}
.btnRed {
	width: 155px;
	height: 50px;
	font-family: Arial,"Microsoft YaHei";
	font-size: 2.2rem;
	border-radius: 5px;
	background: #ec3341;
	color: #ffffff;
	text-align: center;
	line-height: 50px;
	display: block;
	margin: 25px auto 0 auto;
}
.pic_list_right_number2{
	width: 120px;
	height: 38px;
	float: left;
	position: static;
	text-align: right;
}
.shop_number{
	width: auto;
	height: 38px;
	line-height: 38px;
	float: left;
	margin-right: 20px;
	font-size: 2.8rem;
	color: #5d5d5d;
	text-align: left;
}
/*animateT*/
.animateTShell{width:439px;height:439px;margin:0 auto;overflow:hidden;position:relative;}
.animateTShell div{width:439px;height:439px;margin:0 auto 0 auto;position:relative;overflow:hidden}
.animateTShell div ul{width:3000px;height:439px;position:absolute;left:0;top:0;z-index:5}
.animateTShell div ul li{width:439px;height:439px;float:left;overflow:hidden}
.disc_border{width:100%;height:20px;position:absolute;display:block;overflow:hidden;left:0;bottom:20px;text-align:center;z-index:10}
.disc{width:15px;height:15px;margin-left:4px;margin-right:4px;display:inline-block;cursor:pointer;background:#c9cbca;border-radius:50px;}
.disc_hover{width:15px;height:15px;margin-left:4px;margin-right:4px;display:inline-block;cursor:pointer;background:#fff;border: 1px solid #e7654d; border-radius:50px; }
.number{
	vertical-align: middle;
	color: #5d5d5d;
	font-family:Arial,"Microsoft YaHei";
	font-size: 3rem;
}

.u-icon-add,.u-icon-reduce{ display:inline-block; width:37px; height:37px; background-image:url(../img/control_icon.gif); background-repeat:no-repeat; vertical-align:middle}

.u-icon-add{ background-position:right center}
.u-icon-reduce{ background-position:left center}
.pic_list_right_text{
	text-align: left;
	color: #5d5d5d;
	font-family:Arial,"Microsoft YaHei";
	font-size: 2.5rem;
}
.pic_list_right_text2{
	text-align: left;
	color: #5d5d5d;
	font-family:Arial,"Microsoft YaHei";
	font-size: 2rem;
}
.pic_list_right_price{
	text-align: left;
	color: #e83548;
	margin-top: 0.3rem;
	font-family:Arial,"Microsoft YaHei";
	font-size: 2.8rem;
}
/*-- from 3.5.css end --*/
#mask{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    z-index: 990;
    display:none;
}
